body { max-width:1000px; width: calc(100% - 20px); font-family: sans-serif; margin: 0 auto; padding:10px;margin-bottom: 200px;}
span { color: red; }
ol, ol li {margin: 10px 0}
.gradingCriteria { font-size:0.8em; background-color:#fafafa; border: 1px solid #ddd; padding: 0 20px; margin: 20px 0;}

@media print {
    .quest {page-break-after: always;}
}
